*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: #f6f8f9; */
    /* border: 0.1px solid black; */
    font-family: 'Moirai One', cursive;
    font-family: 'Monomaniac One', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Moirai One', cursive;
    font-family: 'Monomaniac One', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}

.space{
    margin-top: 15px;
}

.piccolo-sp{
    margin: 10px 0 10px 0;
}

/* header */

header{
    background-color: white;
    height: 80px;
}

header img{
    display: inline-block;
    height: 70px;
    padding-left: 20px;
    padding-top: 10px;
    vertical-align: middle;
}

h1{
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    
}

/* main */

main{
    background-color: #f6f8f9;
}

.container{
    /* border: 1px solid black; */
    width: 60%;
    margin: 0 auto;
    background-color: white;
}

.container-di-container{
    width: 80%;
    margin: 0 auto;
}

/* Intestazione */
.b-selected{
    height: 30px;
    width: 80px;
    background-color: #14aaf5;
    border: none;
    border-radius: 5px;
    color: white;
}

.b-non-selected{
    height: 30px;
    width: 100px;
    background-color: white;
    border: 1px solid #ced4d8;
    border-radius: 5px;
    color: #ced4d8;
}

hr{
    border-color: #f6f8f9;
}

/* Corpo */

ul{
    list-style-position: inside;
    list-style-type: none;
}

.svolto::before{
    content: '✓';
    height: 15px;
    width: 15px;
    display: inline-block;
    border: 1px solid #42ccb4;
    border-radius: 50%;
    margin: 5px 10px 0 10px;
    color: #42ccb4 ;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
}

.non-svolto::before{
    content: '⨉';
    height: 15px;
    width: 15px;
    display: inline-block;
    border: 1px solid #ff1010;
    border-radius: 50%;
    margin: 5px 10px 0 10px;
    color: #ff1010;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
}

.editorial::after{
    content: 'Editorial';
    height: 30px;
    line-height: 30px;
    width: 70px;
    display: inline-block;
    border-radius: 10px;
    margin: 5px 10px 0 10px;
    color: white;
    background-color: #09a9ed;
    font-size: 12px;
    text-align: center;
}

.goals::after{
    content: 'Q1 Goals';
    height: 30px;
    line-height: 30px;
    width: 70px;
    display: inline-block;
    border-radius: 10px;
    margin: 5px 10px 0 10px;
    color: white;
    background-color: #ab5de6;
    font-size: 12px;
    text-align: center;
}

.recruiting::after{
    content: 'Recruiting';
    height: 30px;
    line-height: 30px;
    width: 80px;
    display: inline-block;
    border-radius: 10px;
    margin: 5px 10px 0 10px;
    color: white;
    background-color: #2cc6ab;
    font-size: 12px;
    text-align: center;
}

.mobile::after{
    content: 'Mobile';
    height: 30px;
    line-height: 30px;
    width: 70px;
    display: inline-block;
    border-radius: 10px;
    margin: 5px 10px 0 10px;
    color: white;
    background-color: #ff9b00;
    font-size: 12px;
    text-align: center;
}

.website::after{
    content: 'Mobile';
    height: 30px;
    line-height: 30px;
    width: 70px;
    display: inline-block;
    border-radius: 10px;
    margin: 5px 10px 0 10px;
    color: white;
    background-color: #ec61a9;
    font-size: 12px;
    text-align: center;
}

.sales::after{
    content: 'Sales';
    height: 30px;
    line-height: 30px;
    width: 70px;
    display: inline-block;
    border-radius: 10px;
    margin: 5px 10px 0 10px;
    color: white;
    background-color: #a3d116;
    font-size: 12px;
    text-align: center;
}


